# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Environment & secrets
.env
.env.*

# Virtual environments
.venv/
env/

# Logs
*.log

# IDE/editor files
.vscode/
.idea/
*.swp

# Git & version control
.git/
.gitignore

# Tests
tests/

